@media only screen and (max-width:999px){body #header-space[data-header-mobile-fixed="1"]{display:none;}#header-outer[data-mobile-fixed="false"]{position:absolute;}}@media only screen and (min-width:1000px){#header-space{display:none;}.nectar-slider-wrap.first-section,.parallax_slider_outer.first-section,.full-width-content.first-section,.parallax_slider_outer.first-section .swiper-slide .content,.nectar-slider-wrap.first-section .swiper-slide .content,#page-header-bg,.nder-page-header,#page-header-wrap,.full-width-section.first-section{margin-top:0!important;}body #page-header-bg,body #page-header-wrap{height:94px;}body #search-outer{z-index:100000;}}@media only screen and (min-width:1000px){#page-header-wrap.fullscreen-header,#page-header-wrap.fullscreen-header #page-header-bg,html:not(.nectar-box-roll-loaded) .nectar-box-roll > #page-header-bg.fullscreen-header,.nectar_fullscreen_zoom_recent_projects,#nectar_fullscreen_rows:not(.afterLoaded) > div{height:100vh;}.wpb_row.vc_row-o-full-height.top-level,.wpb_row.vc_row-o-full-height.top-level > .col.span_12{min-height:100vh;}}@media only screen and (max-width:999px){.vc_row.top-level.full-width-section:not(.full-width-ns) > .span_12{padding-top:24px;}}@media only screen and (max-width:690px){.vc_row.top-level.full-width-section:not(.full-width-ns) > .span_12{padding-top:34px;}}
 /*TEXTE PAGE FONCTIONS DE MOHIST*/
 .row .col p:last-child {
 padding-bottom: 0;
 color: #c9c9c9;
 }
 .row .col p:last-child {
    padding-bottom: 0;
    color: #c9c9c9;
    font-family: Poppins;
    font-weight: 400;
}
.row .col h5, body h5 {
    font-family: Poppins;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
}
#top .sf-menu li ul li a, body #header-outer .widget_shopping_cart .cart_list a, #header-secondary-outer ul ul li a, .woocommerce .cart-notification .item-name, .cart-outer .cart-notification, #header-outer #top .sf-menu li ul .sf-sub-indicator i, #header-outer .widget_shopping_cart .quantity, #header-outer:not([data-format="left-header"]) #top nav > ul > li:not(.megamenu) ul a, #header-outer .cart-notification .item-name, #header-outer #top nav > ul > .nectar-woo-cart .cart-outer .widget ul a:hover, #header-outer .cart-outer .total strong, #header-outer .cart-outer .total {
    color: #fff !important;
    font-family: Poppins;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 600;
}
body.material #slide-out-widget-area.slide-out-from-right .off-canvas-menu-container > .menu > li a {
    opacity: 1;
    transition: color .37s cubic-bezier(.52,.01,.16,1);
    font-family: Poppins;
}
.pricing-table[data-style="flat-alternative"] .pricing-column .interval {
    display: inline-block;
    font-family: Poppins;
    font-weight: 500;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, p, blockquote, a, code, em, img, q, s, small, strong, tt, var, b, u, i, center, dt, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, canvas, embed, footer, header, menu, nav, section, time, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
        font-family: inherit;
    vertical-align: baseline;
    font-family: Poppins;
}
body.cssreflections .nectar-fancy-box[data-style="parallax_hover"] .parallaxImg-container .parallaxImg-shadow, body.cssreflections .nectar-fancy-box[data-style="parallax_hover"] .parallaxImg-container, body.cssreflections .nectar-fancy-box[data-style="parallax_hover"] .parallaxImg.transition .parallaxImg-container, body.cssreflections .nectar-fancy-box[data-style="parallax_hover"] .parallaxImg.transition .parallaxImg-container .parallaxImg-shadow, body.cssreflections .nectar-fancy-box[data-style="parallax_hover"] .parallaxImg-container .parallaxImg-rendered-layer, body.cssreflections .nectar-fancy-box[data-style="parallax_hover"] .parallaxImg.transition .parallaxImg-container .parallaxImg-rendered-layer, body.cssreflections .nectar-fancy-box[data-style="parallax_hover"] .parallaxImg {
    transition: transform .1s ease-out;
    -webkit-transition: transform .1s ease-out;
    border-radius: 10px;
}
body[data-hhun="1"] #header-outer.transparent[data-transparent-header="true"][data-remove-border="true"][data-permanent-transparent="1"].detached, body[data-hhun="1"] #header-outer.detached {
    position: fixed !important;
    z-index: 9998 !important;
    -webkit-transition: -webkit-transform .3s ease,height .3s ease,background .3s ease,opacity .3s ease,border-color .3s ease;
    transition: transform .3s ease,height .3s ease,background .3s ease,opacity .3s ease,border-color .3s;
    box-shadow: 1px 1px 8px #23272A;
}
#header-outer.transparent #top nav > .sf-menu > li > a, #header-outer.transparent #top nav > ul > li > a, #header-outer.transparent #top nav > ul > li > a > .sf-sub-indicator i {
    color: #fff !important;
    opacity: .75;
    transition: opacity .2s ease,color .2s ease;
    font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 500;
}

#header-outer[data-lhe="animated_underline"] #top nav > ul > li > a {
    margin-left: 15px;
    margin-right: 15px;
    font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 500;
}
#footer-outer[data-custom-color="true"] #footer-widgets a:not(.nectar-button) {
    transition: all .2s ease;
    font-family: Poppins;
    font-weight: 500;
}
.row .col h3, .toggle h3 a, body h3 {
    font-family: Poppins;
    text-transform: none;
    letter-spacing: 0;
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
}

 #top #logo {
    width: auto;
    max-width: none;
    display: block;
    line-height: 22px;
    font-size: 22px;
    letter-spacing: -1px;
    color: #444;
    font-family: Poppins;
    font-weight: 600;
}
#page-header-bg h2, body h2 {
    font-family: Poppins;
    text-transform: none;
    letter-spacing: 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}
.team-member[data-style="bio_fullscreen"] .team-meta p {
    color: rgba(255,255,255,.8);
    padding: 7px 0 0 0;
        padding-top: 7px;
    font-family: Poppins;
}
.nectar_team_member_overlay.open .team_member_details .mobile-close, .nectar_team_member_overlay.open .team_member_details h2, .nectar_team_member_overlay.open .team_member_details .title, .nectar_team_member_overlay.open .team_member_details .team-desc, .nectar_team_member_overlay.open .team_member_details .team-desc .bottom_meta a {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    font-family: Poppins;
}
#ajax-content-wrap #footer-outer #copyright {
    border-top: 1px solid rgba(255,255,255,.18);
    background: #181a1c;
    border-radius: 0px;
}
body .pricing-table[data-style="flat-alternative"] .pricing-column, body .pricing-table[data-style="flat-alternative"] .pricing-column.highlight {
    margin-right: 3.5%;
    position: relative;
    text-align: left;
    background: #23272A;
    box-shadow: 5px 5px 5px #1f1f1e;
}
#ajax-content-wrap .pricing-column.highlight h3 .highlight-reason {
    line-height: 28px;
    border-radius: 7px;
}
body .pricing-table[data-style="flat-alternative"] .pricing-column, body .pricing-table[data-style="flat-alternative"] .pricing-column.highlight {
    margin-right: 3.5%;
    position: relative;
    text-align: left;
    background: #23272A;
    border-radius: 7px;
}
 /*QUAND ON CLIQUE SUR LES PARTENAIRES*/
 .nectar_team_member_overlay .inner-wrap {
 padding-top: 0 !important;
 background: #2C2F33;
 color: #99AAB5;
 }
 /*LOADER BLACK*/
 body[data-ajax-transitions="true"] #ajax-loading-screen[data-method="standard"], body[data-ajax-transitions="true"] #ajax-loading-screen[data-effect*="horizontal_swipe"][data-method="ajax"], body[data-ajax-transitions="true"] #ajax-loading-screen[data-method="standard"] .loading-icon {
 display: block;
 opacity: 1;
 background: #2C2F33 !important;
 }
 /*CREDITS CHECK BUTTONS*/
 /*DOCUMENTATION LIST*/
 div[data-style="default"] .toggle h3 a, div[data-style="default"] .toggle h3 {
 font-size: 14px;
 line-height: 14px;
 color: white;
 }
 /*DOCUMENTATION LIST BACKGROUND*/
 body .toggle > div {
 padding: 10px 14px;
 border-top: 0;
 display: none;
 background-color: #23272A;
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0 1px 2px
 rgba(0,0,0,0.2);
 }
 /*MENU COLOR BACKGROUND 2 */
 #slide-out-widget-area:not(.fullscreen-alt):not(.fullscreen), #slide-out-widget-area-bg.fullscreen, body.material #slide-out-widget-area-bg.slide-out-from-right {
  background-color: #23272A;
  }
 /*SELECT LANGUAGE*/
  body:not([data-header-format="left-header"]) #top .sf-menu li ul, #top nav > ul > .megamenu > .sub-menu, body #top nav > ul > .megamenu > .sub-menu > li > a, #header-outer .widget_shopping_cart .cart_list a, #header-secondary-outer ul ul li a, #header-outer .widget_shopping_cart .cart_list li, .woocommerce .cart-notification, #header-outer .widget_shopping_cart_content {
 background-color:
 #2C2F33 !important;
 color: white !important;
 border-radius: 10px;
 }
  #top .sf-menu li ul li a, body #header-outer .widget_shopping_cart .cart_list a, #header-secondary-outer ul ul li a, .woocommerce .cart-notification .item-name, .cart-outer .cart-notification, #header-outer #top .sf-menu li ul .sf-sub-indicator i, #header-outer .widget_shopping_cart .quantity, #header-outer:not([data-format="left-header"]) #top nav > ul > li:not(.megamenu) ul a, #header-outer .cart-notification .item-name, #header-outer #top nav > ul > .nectar-woo-cart .cart-outer .widget ul a:hover, #header-outer .cart-outer .total strong, #header-outer .cart-outer .total {
 color:
 #fff !important;
 }
 /*MENU COLOR*/
 #slide-out-widget-area.slide-out-from-right, #slide-out-widget-area.slide-out-from-right:not(.fullscreen-alt):not(.fullscreen) {
 background-color:
 #23272A !important;
 }
 /*DOWNLOAD PAGE*/
 .wpb_row .row-bg-wrap .row-bg-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    z-index: 2;
    backface-visibility: hidden;
    background: #2C2F33;
}
body .pricing-table[data-style="flat-alternative"] .pricing-column, body .pricing-table[data-style="flat-alternative"] .pricing-column.highlight {
    margin-right: 3.5%;
    position: relative;
    text-align: left;
    background: #23272A;
}
